<header class="shadow">
  <h4> All Groups </h4>

  <a href="<%= new_group_path %>" class="btn btn-success">
      New Group
  </a>
</header>
<p id="notice"><%= notice %></p>

<div class="group" >
    <% @groups.each do |group| %>
      <%= link_to group_path(group) do %>
        <div class="card border-0 shadow-sm group-card">
          <div class="card-body">  
            <div class="group-image" style="background-image: url(<%= group.icon %>); background-size: cover;"></div>
              <p class="g-name"> <%= group.name %></p>
              <p class="g-projects"> Projects <span class="badge badge-primary badge-pill"><%= group.projects.count %></span></p>
              <p class="g-time"> <%= created_date(group)%> </p>
            </div>        
        </div>
      <% end %>
    <% end %>
  </div>

