

<div class="container fluid">
<div class="signup-pic">
    <div class="form-container">
        <h5 class="text-center logo"> OrgApp </h5>
        <div class="card add-new-card shadow d-form">
            <div class="card-body">
                <h2 class="text-center">Sign Up</h2>
                <%= form_for(@user, url: signup_path) do |form| %>
                    <% if @user.errors.any? %>
                        <div id="error_explanation">
                        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this project from being saved:</h2>

                        <ul>
                            <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                        </ul>
                        </div>
                    <% end %>
                    <div class="field">
                        <%= form.label :name %>
                        <%= form.text_field :name, class: 'form-control' %>
                    </div>

                    <%= form.submit "Signup", class: "btn btn-primary" %>                
                <% end %>

                <div class="text-center">
                    <p>Already have one? <%= link_to 'Login now!', signin_path%> </p>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
