<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", id: 'name'%>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, class: "form-control", id: 'duration' %>
  </div>

  <div class="field">
    <%= form.label :group %>
    <!--%= collection_select( :project, :groups, Group.all, :id, :name, {include_blank: 'No group'}, { multiple: false })%--> 
    <%= form.select "group_ids", Group.all.map {|cat| [cat.name, cat.id]}, include_blank: 'No group' %>
  </div>

  <div class="actions">
    <%= form.submit yield(:button_text), class: yield(:button_class) %>
  </div>
<% end %>
