<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<h3> Sum: <%= @hour_sum %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.duration %></td>
        <% project.groups.each do |group| %>
        <td><%= group.name %></td>
        <% end %>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
<%= link_to 'Signout', logout_path, method: :delete %>
