<aside class="side-bar">
    <header class="avatar">
         <h2 class="nav-brand"> OrgApp </h2>
		<img src="https://www.seekpng.com/png/detail/428-4287240_no-avatar-user-circle-icon-png.png" />
        <h5><%= current_user.name %></h5>
    </header>
    <nav class="nav-bar">
        <ul>
            <li>
                <a href="<%= projects_path %>">
                    <picture>
                        <i class="fas fa-th-list"></i>
                    </picture>
                    <span> My Projects </span>                
                </a>
            </li>
            <li>
                <a href="<%= external_projects_path %>">
                    <picture>
                        <i class="fas fa-calendar-check"></i>
                    </picture>
                    <span> External Projects </span> 
                </a>
            </li>
            <li>
                <a href="<%= groups_path %>">
                    <picture>
                        <i class="fas fa-layer-group"></i>
                    </picture>
                    <span> All Groups </span> 
                </a>
            </li>
            <li>
                <a data-method="delete" href="<%= logout_path %>" rel="nofollow">
                    <picture>
                        <i class="fas fa-sign-out-alt"></i>
                    </picture>
                    <span> Signout </span> 
                </a>
            </li>
        </ul>
    </nava>
</aside>