<!DOCTYPE html>
<html>
  <head>
    <title>OrgApp | Project Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
      <section class="left-navbar">
        <%= render 'layouts/navbar'%>
      </section>

      <main>
        <%= yield %>
      </main> 
    <% else %>
      <%= yield %> 
    <% end %>
    

  </body>
</html>
