<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
    <section class="left-navbar">
      <%= render 'layouts/navbar'%>
    </section>
    <% end %>
    <main>
      <%= yield %>
    </main>  
  </body>
</html>
